.invalid{
    border: 2px solid red;
    background-color: crimson;
    color: white;
}
.valid{
    border: 2px solid green;
    background-color:lightgreen;
    color: black;
}

.mess{
    border: 2px solid black;
}